/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  width: 50%;
  margin-top: 2%;
  padding-bottom: 3%;
  gap: 5%;
  flex-direction: column;
}

.users-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3%;
  gap: 2rem;
  width: 100%;
}

.user-details,
.user-bio,
.users-post,
.comments-cont,
.post-container {
  border: 2px solid rgba(245, 245, 245, 0.529);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

.user-bio {
  margin-top: 3%;
}

.user-details > p {
  text-align: end;
}

.user-posts,
.users-post,
.comments-cont {
  margin-top: 4%;
}

.user-posts > button {
  margin-top: 3rem;
  margin-left: 40%;
}

.users-post > h4 {
  text-align: end;
}

.link-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.posts-enclosure {
  margin-bottom: 5%;
}

.post-container > h6 {
  text-align: end;
}

.pagination {
  margin-left: 40%;
  font-size: 20px;
}

.like-comment-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.add-comment,
.add-post,
.add-like,
.all-post-button,
.create-post-button,
.pagination {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border: none;
  border-radius: 5%;
  font-family: 'Montserrat', sans-serif;
}

.add-comment:hover,
.add-like:hover {
  background-color: rgb(174, 174, 174);
  cursor: pointer;
  border: gray;
}

.comment-link,
.all-posts,
.create-post {
  border: gray;
  text-decoration: none; /* no underline */
  color: black;
}

/* Sign Up window */
.field {
  padding: 10px;
}

.input-field {
  width: 450px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: center;
}

.devise-button {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border: none;
  border-radius: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}

.devise-title {
  margin: 15px;
}

.sign-main {
  display: flex;
  justify-content: center;
}

.link-login {
  border: gray;
  text-decoration: none; /* no underline */
  color: black;
}

.delete-button {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border: none;
  border-radius: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 20px;
  cursor: pointer;
}

.delete-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.post-input-title,
.post-input-text,
.comment-input {
  width: 450px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.post-input-wrapper,
.comment-input-wrapper {
  margin: 25px;
}

.add-post-wrapper,
.add-comment-wrapper {
  display: flex;
  justify-content: center;
}

.add-comment-title {
  margin: 15px;
}
